<a href="https://colab.research.google.com/github/chacha86/bigData1/blob/main/%EB%94%95%EC%85%94%EB%84%88%EB%A6%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
scores = [86, 93, 100, 73, 55]
names = ["철수", "영희", "민주", "선빈", "동구"]

li = [1, 1.2, ['a', 'b', 'c'], True] # 이중리스트

# 이중리스트를 이용하는 방법
# 각 학생의 0번 인덱스 : 이름
# ..........1번 ...... : 점수
students = [ ["철수", 86], ["영희", 93], ["민주", 100], ["선빈", 73], ["동구", 55] ]

avg = 84.1

for student in students :
  if student["점수"] >= avg :
    print(student["이름"])

철수
영희
민주

In [18]:
# 이중리스트를 이용해도 가능하긴 하지만 데이터 식별이 어렵다. 그래서 나온 것이 Dictionary
# Dictionary ==> (key : value) = item
# s1 = ["철수", 90] # 리스트
# s2 = [99, "영희"] # 리스트
stu1 = {"이름" : "철수", "점수" : 90} # 딕셔너리
stu2 = {"점수" : 90, "이름" : "영희"} # 딕셔너리
print(stu1["이름"])
print(stu1["점수"])
print(stu2["이름"])
print(stu2["점수"])

stu2["성별"] = "여"
stu2["성별"] = "남" # 동일한 키가 있으면 수정, 없으면 추가

del(stu2["성별"]) # 삭제

철수
90
영희
90

{'이름': '영희', '점수': 90}