<a href="https://colab.research.google.com/github/chacha86/bigData1/blob/main/%EB%A6%AC%EC%8A%A4%ED%8A%B8%EB%A5%BC%20%EC%9D%B4%EC%9A%A9%ED%95%9C%20%ED%95%99%EC%83%9D%20%EC%84%B1%EC%A0%81%20%EC%A0%95%EB%B3%B4%20%EA%B4%80%EB%A6%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
li = [1,2,3,4,5,6]

# 슬라이싱
li[: : -1]
str1 = "hello"
str1[1:4:]

'ell'

In [40]:
li1 = [1,2,3]
li2 = [4,5,6]

li1 + li2

[1,2,3] + [4,5,6]
[1,2,3] * 3

li1[1] = 10

len(li1)

del( li1[1] )


li1.append(30)
li1.append(10)
li1.append(20)

li1.sort()
print(li1)
a = [1,4,2,3]
a.append(0)
a.sort()

[1, 3, 10, 20, 30]

[0, 1, 2, 3, 4]

In [59]:
# 철수, 영희, 민주, 선빈, 동구. 총원 5명인 학급.
# 철수 86점, 영희 93점, 민주 100점, 선빈 73점, 동구 55점

# 학생들의 점수 총점
#print(86 + 93 + 100 + 73 + 55)
scores = [86, 93, 100, 73, 55]
names = ["철수", "영희", "민주", "선빈", "동구"]

# s = 0
# for n in scores
#   s = s + n

s = sum(scores)

In [51]:
# 학생들의 점수 평균
avg = s / len(scores)

In [ ]:
# 평균 이상인 학생
# 0 ~ 4
# for score in scores :
#   if score >= avg :
    # print(score)

for i in range(0, 5, 1) :
  if scores[i] >= avg :
    print(scores[i], names[i])

In [ ]:
# 평균 이하인 학생