<a href="https://colab.research.google.com/github/chacha86/bigData1/blob/main/%ED%8C%90%EB%8B%A4%EC%8A%A4_%EC%82%AC%EC%9A%A9%EB%B2%952.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import numpy as np
import pandas as pd
import random as rd

# 데스트 데이터

# 이름 국어 영어 수학 100개 정도 테스트 데이터
mid = ['철', '민', '지', '현', '혜', '준', '명']
last = ['수', '연', '혜', '진', '운', '동', '희']

names = []
rd.seed(100) # 랜덤값 고정을 위해 시드 설정

# mid와 last에서 문자를 무작위로 뽑아 100개의 랜덤한 이름 생성
for i in range(100) :
  mid_idx = rd.randint(0, 6)
  last_idx = rd.randint(0, 6)

  name = mid[mid_idx] + last[last_idx]

  names.append(name)

# numpy를 이용해 국영수 세 과목의 점수를 랜덤하게 100개씩 생성
np.random.seed(100)
korean = np.random.randint(60, 100, 100)
english = np.random.randint(60, 100, 100)
math = np.random.randint(60, 100, 100)
nums = np.arange(1, 101)

# 딕셔너리로 조합
data = {
    "번호" : nums,
    "이름" : names,
    "국어" : korean,
    "영어" : english,
    "수학" : math
}
data

# 데이터프레임으로 생성
df = pd.DataFrame(data)

# 컬럼 목록
df.columns

# 컬럼 목록 ndArray로
df.columns.values

# 인덱스 목록
df.index

# 인덱스 목록 ndArray로
df.index.values

# 데이터 프레임을 ndArray로
df.values

# 데이터 프레임의 모양
df.shape

이름           준동
국어           94
영어           91
수학           98
총점          283
평균    94.333333
석차            1
Name: 11번, dtype: object

In [ ]:

df = pd.DataFrame(data)

# 인덱스 세팅 - 특정 컬럼을 인덱스로 사용 가능. 인덱스는 행을 구별하고 선택할 때 사용되는 정보
df.set_index('번호')
df.set_index(['번호', '이름'])


# 인덱스 리셋 - 설정했던 인덱스를 다시 일반 컬럼으로 되돌림. (인덱스로 지정된 컬럼은 컬럼 인덱싱으로 접근 불가능하기 때문에 리셋해야 하는 경우가 생김)
# drop 옵션은 인덱스로 지정했던 컬럼을 일반컬럼으로 되돌리지 않고 삭제하는 옵션
df.reset_index(drop=True)


df = df.set_index('번호')
df['번호'] # 번호 컬럼은 인덱스로 설정된 컬럼이기 때문에 컬럼 인덱싱 불가
df = df.reset_index()
df['번호'] # 번호 컬럼이 일반 컬럼이 되었기 때문에 인덱싱 가능.

In [ ]:
# 단일 column 추가
# df['new_col1'] = 'a'
# df['new_col2'] = 'b'

# column 여러개 한번에 추가 - assign() - 주의할 점은 컬럼명에 ''을 넣지 않는다는 점
df = df.assign(new_col1 = 'a', new_col2 = 'b')

# column 이름 변경
df = df.rename(columns={"new_col1" : "새컬럼1", "new_col2" : "새컬럼2"})
df

# 컬럼 삭제
df = df.drop(['새컬럼1', '새컬럼2'], axis=1)
df

In [ ]:
# 집계함수 : axis=0 행들의 값을 집계함, axis=1 열들의 값을 집계함
# sum() : 합
# mean() : 평균
# max() : 최대값
# min() : 최소값
df.loc[:, '국어' : '수학'].sum()
df.loc[:, '국어' : '수학'].sum(axis=1)

df['총합'] = df.loc[:, '국어' : '수학'].sum(axis=1)

In [ ]:
# 데이터 타입

df['수학'].dtype

# 데이터 형변환 - astype() # int64(정수), float64(실수), str(문자열)

# df['수학'] = df['수학'].astype('float64')
# df['수학'] = df['수학'].astype('str')
# df['수학'] = df['수학'].astype('int64')

In [ ]:
# 연습문제

# 1. 총점과 평균 컬럼을 만들어서 각 학생의 총점과 평점을 데이터 프레임에 표현해주시오
df = df.drop('총합', axis=1)
sums = df.loc[:, '국어' : '수학'].sum(axis=1)
avgs = df.loc[:, '국어' : '수학'].mean(axis=1)

df = df.assign(총점=sums, 평균=avgs)
df

# 2. 인덱스(번호) 전체 값 뒤에 번이라는 문자 붙이기
# 1, 2, 3, ....   -->  1번, 2번, 3번, ....
df = df.reset_index()

df['번호'] = df['번호'].astype('str') + '번'

df = df.set_index('번호')

df

# 3. 각 석차를 구해서 데이터프레임에 추가해주세요.
arr = df['평균'].values
idx = arr.argsort()[::-1]

# 100개짜리 행을 가진 열을 만들어야함.
arr = np.zeros(100)

# idx를 이용해서 인덱싱
arr2 = np.arange(1, 101) # 석차를 의미하는 1 ~ 100 사이의 순차적인 값의 배열
arr[idx] = arr2 # arr2의 1 ~ 100 값을 순차적으로 idx의 인덱스 순으로 arr 배열에 대입 


arr # 결과적으로 석차 인덱스가 되므로 이 배열을 데이터프레임에 '석차'라는 컬럼명으로 추가한다.
df['석차'] = arr
df['석차'] = df['석차'].astype('int64')


# 성적이 가장 높은 학생 정보를 가져오기
#no = df['석차'].idxmin()
#no = df['평균'].idxmax()
no = df['총점'].idxmax()

df.loc[no]

In [ ]:
# 정렬하기
df.sort_values('평균', ascending=False)
df.sort_values(['평균', '이름'], ascending=[False, True])

In [ ]:
# 그룹핑을 하기 위해 지역 데이터 생성
locations = ['서울', '대전', '대구', '부산', '울산', '광주', '인천']
np.random.seed(10)
arr = np.random.randint(0, 6, 100)

locations = np.array(locations)

# 데이터프레임에 추가
df['지역명'] = locations[arr]


# 그룹핑 - 어떤 컬럼의 값은 중복되어서 나타날 수 있음. 예를 들어 학생의 경우 지역이 대전인 학생, 서울인 학생, 인천인 학생 등등 100명의 학생 데이터에서
# 6~7개 정도의 데이터가 반복해서 나타나는 경우 6~7개의 데이터로 그룹화 하여 각 그룹별로 집계할 수 있음

# ex)
# 지역별 ~학생 성적 현황
# 나라별 ~ 코로나환자수 현황 등등

# 중복값을 제거하고 나타날 수 이는 유일한 데이터 보기
df['지역명'].unique() # 지역명에서 나타날 수 있는 데이터의 경우의 수를 중복 없이 볼 수 있음.


# 그룹핑 함수 - groupby('그룹핑할 컬럼명')

df2 = df.groupby("지역명").mean() # 지역명으로 그룹화 하여 각 지역별로 평균 집계할 수 있음.

df2 = df2.loc[:, ['국어', '영어', '수학', '평균']]


# 간단 문제

# 가장 수학 점수가 높은 도시는? 광주
df2.sort_values('수학', ascending=False)

# 가장 성적이 좋은 도시
df2.sort_values('평균', ascending=False)


# 연습 문제
# 평균 점수대별 학생수 현황

# ex)
# 평균 60점대 학생수
# 평균 70점대 학생수
# 평균 80점대 학생수
# 평균 90점대 학생수


avg = df['평균'] / 10
df['평균점수대'] = avg.astype('int64') * 10

df.groupby('평균점수대').count()['이름']

# 각 지역에서 점수대별 학생수 현황

# ex)
# 대전에서 평균 60점대 몇명
# 대전에서 평균 70점대 몇명
# 대전에서 평균 80점대 몇명
# 대전에서 평균 90점대 몇명
# 서울에서 평균 60점대 몇명
# 서울에서 평균 70점대 몇명
# 서울에서 평균 80점대 몇명
# 서울에서 평균 90점대 몇명

df.groupby(['지역명', '평균점수대']).count()['이름']

지역명  평균점수대
광주   60        5
     70        3
     80        6
     90        2
대구   60        1
     70        7
     80        3
     90        1
대전   70       11
     80        8
     90        1
부산   60        1
     70        6
     80        4
     90        1
서울   70        8
     80       14
     90        1
울산   70       10
     80        5
     90        2
Name: 이름, dtype: int64