<a href="https://colab.research.google.com/github/chacha86/pythonai2/blob/main/merge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
## 14. concat
### 데이터 프레임 붙이기
import pandas as pd

data1 = {
    '이름' : ['홍길동', '이순신', '유관순'],
    '국어' : [80, 90, 100],
    '수학' : [100, 80, 90],
    '영어' : [80, 70, 80]
}

data2 = {
    '이름' : ['을지문덕', '황진이'],
    '국어' : [80, 90],
    '수학' : [100, 90],
    '영어' : [80, 70]
}

data3 = {
    '파이썬' : [80, 90, 100, 80, 90],
    '인공지능' : [100, 90, 60, 80, 90],

}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)
df3 = pd.DataFrame(data3)


print(df1)
print(df2)
print(df3)

In [ ]:
df4 = pd.concat([df1, df2], axis=0, ignore_index=True)

# df5 = df4.reset_index()

# df5.drop('index', axis=1)
# pd.concat([df4, df3], axis=0)

df4

In [3]:
course = pd.read_csv('/content/student/sel_course.csv')
info1 = pd.read_csv('/content/student/students_info1.csv')
info2 = pd.read_csv('/content/student/students_info2.csv')
scores = pd.read_excel('/content/student/students_scores.xlsx')

In [ ]:
course.head()
course['학번'].size
course.shape

print(info1.head())
print(info2.head())

scores.shape

In [ ]:
## 문제. concat을 이용해서 학생의 점수와 신상정보를 붙여주세요.
## info1 : 1~50번 학생의 신상 정보
## info2 : 51 ~ 100번 학생의 신상 정보
## scores : 1 ~ 100번 학생의 점수 정보


print(info1.head())
print(info2.head())

### 2. info1과 info2를 수직으로 붙이기


info2.rename(columns={'Loc' : '지역', 'Sex' : '성별'})

info2.columns = info1.columns

In [52]:

stu_info = pd.concat([info1, info2])

### 1. info1과 info2의 데이터 형식 맞추기(1번과 2번은 순서를 바꿔도 됨)
#### 성별 전처리
stu_info['성별'] = stu_info['성별'].str.replace('M', '남자').str.replace('F', '여자')

#### 지역 전처리
stu_info['지역'].replace({})
stu_info['지역'].unique()

loc_kor = ['대전', '광주', '울산', '서울', '부산', '대구', '인천']
loc_eng = ['daejon', 'kwangju', 'ulsan', 'seoul', 'busan', 'daeku', 'incheon']
stu_info['지역'] = stu_info['지역'].str.lower().str.replace('pusan', 'busan').replace(loc_eng, loc_kor)


#### 생년월일 전처리
stu_info['생년월일'] = stu_info['생년월일'].str.replace('년', '-').str.replace('일', '')

In [63]:
### 3. 붙인 결과의 인덱스를 초기화 하기
#stu_info.reset_index(drop=True)
stu_info = stu_info.reset_index().drop('index', axis=1)

In [ ]:
### 4. info1과 info2를 붙인 결과와 scores를 수평으로 붙이기

stu = pd.concat([stu_info, scores[['국어', '영어', '수학']]], axis=1)
stu

In [69]:
## 15. merge
### merge는 특정 컬럼의 값이 일치하는 행끼리 붙여줌
order = pd.read_csv('/content/order/order.csv')
product = pd.read_csv('/content/order/product.csv')
user = pd.read_csv('/content/order/user.csv')

In [ ]:
# pd.concat([order, product], axis=1)
tmp = pd.merge(order, product, left_on='productNo', right_on='id')
pd.merge(tmp, user, left_on='userNo', right_on='id')[['pname', 'price', 'userName']]