<a href="https://colab.research.google.com/github/chacha86/pythonai2/blob/main/pandas_%EA%B8%B0%EC%B4%881_%EB%8D%B0%EC%9D%B4%ED%84%B0_%EC%A0%91%EA%B7%BC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('hihi')

hihi

In [ ]:
print('hahaha')

hahaha

In [2]:
import pandas as pd

In [ ]:
df = pd.DataFrame(
    {
        "Name": [
            "Braund, Mr. Owen Harris",
            "Allen, Mr. William Henry",
            "Bonnell, Miss. Elizabeth",
        ],
        "Age": [22, 35, 58],
        "Sex": ["male", "male", "female"],
    }
)

df

                       Name  Age     Sex
0   Braund, Mr. Owen Harris   22    male
1  Allen, Mr. William Henry   35    male
2  Bonnell, Miss. Elizabeth   58  female

In [ ]:
df["Age"]

0    22
1    35
2    58
Name: Age, dtype: int64

In [ ]:
ages = pd.Series([22, 35, 58], name="Age")

ages

0    22
1    35
2    58
Name: Age, dtype: int64

In [ ]:
ages = pd.Series([22, 35, "58"])

ages

In [ ]:
## 1.1 시리즈 만들기
s1 = pd.Series(["피자", "떡볶이", "치킨", "족발"])

In [ ]:
s2 = pd.Series(["피자", "떡볶이", "치킨", "족발"], name="야식")
s2

In [ ]:
s3 = pd.Series(index=['야식1', '야식2', '야식3', '야식4'], data=["피자", "떡볶이", "치킨", "족발"], name="야식")

s3["야식3"]

'치킨'

In [ ]:
# 2. 데이터프레임

## 학생 3명

data = {
    "이름" : ["홍길동", "이순신", "임꺽정"],
    "나이" : [22, 33, 55],
    "학교" : ["서울대", "고려대", "연세대"]
}

student = pd.DataFrame(data)

In [ ]:
## 3. 데이터에 접근
## 3.1 기본적으로 시리즈 단위로 접근

student['이름']
student['나이'][0]

22

In [ ]:
## 3.2 데이터프레임 열을 여러개 선택
df2 = student[['이름', '나이']]

이름    홍길동
나이     22
Name: 0, dtype: object

In [ ]:
## 3.3 데이터 프레임에서 행을 선택하는 방법
selected_row = df2.loc[0]
selected_row

In [ ]:
## 3.4 행과 열을 동시에 선택
student
selected_data = student.loc[[0, 1], ['이름', '나이']]

selected_data

In [ ]:
## 0번 2번 학생의 이름과 학교를 선택해주세요.

student.loc[[0,2], ['이름', '학교']]

In [ ]:
# 4. 파일로 저장하고 읽어오기.
## 4.1 csv 파일로 저장
student.to_csv('student.csv')

In [ ]:
## 4.2 csv 파일 읽어오기
df = pd.read_csv('student.csv')

df # index 번호까지 데이터로 저장해버림.

In [ ]:
## 4.3 csv 파일로 저장할 때 index 저장하지 않기

student.to_csv('student.csv', index=False)

df = pd.read_csv('student.csv')

df

In [ ]:
## 4.4 excel 파일 불러오기 -> 위에서 3개 row 건너뛰고 가져오기
df = pd.read_excel('/content/거래내역조회 (2).xlsx', skiprows=3)

In [9]:
df

,No.,거래일시,적요,기재내용,찾으신금액,맡기신금액,거래후 잔액,취급점,메모
0,1,2022.03.12 03:37,ＣＭＳ,NaN,9570,0,26213,유성금융센터,NaN
1,2,2022.03.11 03:26,통신요금,01011112222SKT,117910,0,35783,유성금융센터,NaN
2,3,2022.03.10 18:23,체크우리,김밥이 좋아,4500,0,153693,영업추진부(카드),NaN
3,4,2022.03.10 16:05,체크우리,스타벅스,2000,0,158193,영업추진부(카드),NaN
4,5,2022.03.10 10:42,체크우리,몸짱피트니스,238000,0,160193,영업추진부(카드),NaN
5,6,2022.03.10 10:40,타행이체,친구,0,100000,398193,KB증권,NaN
6,7,2022.03.10 00:59,펌뱅킹,이커머스,15540,0,198193,유성금융센터,NaN
7,8,2022.03.09 18:49,체크우리,커피집,2000,0,213733,영업추진부(카드),NaN
8,9,2022.03.09 18:05,타행이체,가족,0,200000,215733,KB증권,NaN
9,10,2022.03.09 16:52,체크우리,피자집,9800,0,15733,영업추진부(카드),NaN

In [37]:
# 5. loc, iloc 이용한 데이터 접근
## 5.1 loc 단일 선택 -> row 기준
df.loc[0]

## 5.2 다중 선택
df.loc[[0,2,5]]

## 5.3 슬라이싱
df2 = df.loc[0:4:2]

## 5.4 논리 인덱싱
df2.loc[[False, False, True]]

## 5.5 row와 column을 같이 선택
df.loc[0, '찾으신금액']
df.loc[0, ['찾으신금액',	'맡기신금액',	'거래후 잔액'	]]
df.loc[[0, 2, 4], ['찾으신금액',	'맡기신금액',	'거래후 잔액'	]]
df.loc[0:4:2   , '찾으신금액' : '거래후 잔액']

## 5.6 특정 조건을 만족하는 행만 선택하고 싶을 때
### 5.6.1 찾으신금액이 100000원 이상인 행만 선택.
df.loc[df['찾으신금액'] > 100000]

### 5.6.2 찾으신금액이 100000원 이상이면서, 적요가 통신요금인것
df.loc[(df['찾으신금액'] > 100000) & (df['적요'] == '통신요금')]

,No.,거래일시,적요,기재내용,찾으신금액,맡기신금액,거래후 잔액,취급점,메모
1,2,2022.03.11 03:26,통신요금,01011112222SKT,117910,0,35783,유성금융센터,NaN

In [39]:
stu = pd.read_excel('/content/students (1).xlsx')

     번호   이름  국어  영어  수학 지역명       생년월일
0     1  이현진  68  77  81  대전 2050-08-17
1     2  장민동  84  97  88  광주 2050-08-02
2     3  강준은  63  85  64  울산 2050-10-22
3     4  강혜희  99  95  79  서울 2050-05-27
4     5  김혜수  83  76  67  대전 2050-01-25
..  ...  ...  ..  ..  ..  ..        ...
95   96  이민운  99  63  65  서울 2050-08-18
96   97  장혜운  90  86  62  대전 2050-10-08
97   98  박철동  90  96  60  대전 2050-03-01
98   99  강준동  62  69  69  광주 2050-11-24
99  100  이현운  84  91  73  서울 2050-07-20

[100 rows x 7 columns]