<a href="https://colab.research.google.com/github/chacha86/pythonai2/blob/main/%EB%8D%B0%EC%9D%B4%ED%84%B0_%EC%9E%AC%EA%B5%AC%EC%A1%B0%ED%99%94.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('/content/students_v2.xlsx')

In [ ]:
## 와이드폼, 롱폼

In [ ]:
## 와이드 -> 롱

## 녹일 대상 컬럼, 데이터화 된 컬럼의 주인, 녹일 대상 컬럼의 원래 값

df.columns.values
df2 = df[['번호', '이름', '국어', '영어', '수학']]

df3 = pd.melt(df2, id_vars = ['번호', '이름'], value_vars=['국어', '영어', '수학'], var_name='과목', value_name='점수')

df3.sort_values('번호')
# df3.rename(columns={'variable' : '과목', 'value' : '점수'})

In [ ]:
## 롱 -> 와일드

## index, columns, values
## 인덱스가 될 컬럼
## 컬럼이 될 컬럼
## 값이 될 컬럼
df.pivot_table(columns='지역', values=['국어', '수학'], index='성별', aggfunc="mean")

## 지역별로 국어 점수. 남녀별로