<a href="https://colab.research.google.com/github/chacha86/pythonai2/blob/main/%EC%95%84%ED%8C%8C%ED%8A%B8_%EC%9E%AC%EA%B5%AC%EC%A1%B0%ED%99%94_%EB%AC%B8%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
apt1 = pd.read_csv('/content/apt1.csv')
apt2 = pd.read_csv('/content/apt2.csv')

In [38]:
tmp1 = apt1.groupby(['지역명', '연도', '월'])['평당분양가격'].mean().reset_index()

tmp2 = pd.melt(apt2, id_vars='지역명', value_vars=apt2.columns.values[1:], var_name='연월', value_name='평당분양가격')

tmp2['연도'] = tmp2['연월'].str.split('년').str[0].astype('int')
tmp2['월'] = tmp2['연월'].str.split('년').str[1].str.replace('월', '').astype('int')

print(tmp1.columns.values)
print(tmp2.columns.values)

tmp3 = tmp2[['지역명', '연도', '월', '평당분양가격']]

['지역명' '연도' '월' '평당분양가격']
['지역명' '연월' '평당분양가격' '연도' '월']

In [46]:
rst = pd.concat([tmp1, tmp3]).sort_values(['연도', '월', '지역명'])

rst

     지역명    연도   월    평당분양가격
0     강원  2015  10   7192.02
1     경기  2015  10  11008.14
2     경남  2015  10   8407.74
3     경북  2015  10   7277.82
4     광주  2015  10   7823.20
...   ..   ...  ..       ...
818   전남  2023   3  10989.66
881   전북  2023   3  10619.40
944   제주  2023   3  22998.36
1007  충남  2023   3  12427.80
1070  충북  2023   3  10767.90

[1530 rows x 4 columns]

In [16]:
apt2.columns.size

28