<a href="https://colab.research.google.com/github/chacha86/pythonai2/blob/main/%ED%8C%90%EB%8B%A4%EC%8A%A4_%EA%B8%B0%EC%B4%887_%EA%B7%B8%EB%A3%B9%ED%95%91.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

df = pd.read_excel('/content/거래내역조회 (3).xlsx', skiprows=3)

In [13]:
stu = pd.read_excel('/content/students (2).xlsx')

# 7. 학생들의 평균 수학 점수가 가장 높은 도시는?
stu['지역명'].value_counts()
stu['지역명'].unique()

print('대전 : ', stu.loc[stu['지역명'] == '대전', '수학'].mean())
print('서울 : ',  stu.loc[stu['지역명'] == '서울', '수학'].mean())

대전 :  78.25
서울 :  78.78260869565217

In [ ]:
## ~별 ~현황
## 지역별 수학 평균 현황
## 남녀별 성적 현황
## 도시별 초등학교 개수 현황
## 국가별 GDP 현황
stu.groupby('지역명')['수학'].mean()

In [ ]:
## 중그룹, 소그룹

stu['성'] = stu['이름'].str[:1]

stu['성'].unique()

## 성별 평균점수

stu['평균'] = (stu['수학'] + stu['영어'] + stu['국어']) / 3
stu.groupby('성')['평균'].mean()

stu.groupby(['성', '지역명'])['평균'].mean()