<a href="https://colab.research.google.com/github/chacha86/pythonai2/blob/main/%ED%8C%90%EB%8B%A4%EC%8A%A4_%EA%B8%B0%EC%B4%889.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
## 14. concat
### 데이터 프레임 붙이기
import pandas as pd

data1 = {
    '이름' : ['홍길동', '이순신', '유관순'],
    '국어' : [80, 90, 100],
    '수학' : [100, 80, 90],
    '영어' : [80, 70, 80]
}

data2 = {
    '이름' : ['을지문덕', '황진이'],
    '국어' : [80, 90],
    '수학' : [100, 90],
    '영어' : [80, 70]
}

data3 = {
    '파이썬' : [80, 90, 100, 80, 90],
    '인공지능' : [100, 90, 60, 80, 90],

}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)
df3 = pd.DataFrame(data3)


print(df1)
print(df2)
print(df3)

### concat은 컬럼 기준(axis=1)으로 붙일 때는 index로 매핑하고 로우 기준(axis=0)으로 붙일 때는 컬럼명으로 매핑한다.
df4 = pd.concat([df1, df2], axis=0, ignore_index=True)

# df5 = df4.reset_index()

# df5.drop('index', axis=1)
# pd.concat([df4, df3], axis=0)

df4

In [ ]:
order = pd.read_csv('/content/order.csv')
product = pd.read_csv('/content/product.csv')
user = pd.read_csv('/content/user.csv')