<a href="https://colab.research.google.com/github/chacha86/pythonai/blob/main/20_%ED%95%A8%EC%88%98_%EC%A0%81%EC%9A%A9%ED%95%98%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df = pd.read_excel('/content/거래내역조회.xlsx', skiprows=3)
df

In [14]:
data = {
    "나이" : [20, 30, 40],
    "이름" : ["홍길동", "황진이", "이순신"]
}


df2 = pd.DataFrame(data)

# 특정 행들의 특정 열값을 수정하는 법
df2.loc[[0,1], '나이'] = [30, 40]

df2['성별'] = ['남','녀','남']
df2

   나이   이름 성별
0  30  홍길동  남
1  40  황진이  녀
2  40  이순신  남

In [ ]:
# 1. 찾으신 금액이 100000미만이면 적음, 찾으신 금액이 100000 이상 200000만 미만이면 보통, 
# 찾으신 금액이 200000 이상이면 많음. 으로 해서 소비량이라는 컬럼을 만들어주세요.
# 200000 이상 300000 미만이면 아주 많음
df.loc[df['찾으신금액'] < 100000, '소비량'] = '적음'
df.loc[(df['찾으신금액'] < 200000)&(df['찾으신금액'] >= 100000), '소비량'] = '보통'
df.loc[(df['찾으신금액'] >= 200000) & (df['찾으신금액'] < 300000)'소비량'] = '많음'

df


# 2. 모든 금액에 '원'이라는 글자를 뒤에 붙여주세요.

df['찾으신금액(원)'] = df['찾으신금액'].astype('str') + '원'
df['맡기신금액(원)'] = df['맡기신금액'].astype('str') + '원'
df['거래후 잔액(원)'] = df['거래후 잔액'].astype('str') + '원'
df

In [38]:
def test(x) :
  return x + 1

li = [1,2,3,4]

rst = []
for i in range(0, len(li)) :
  rst.append(test(li[i]))

list(map(test, li))

[2, 3, 4, 5]

In [ ]:
df['찾으신금액'].map(test)

In [ ]:
def price_distinct(price) :
  if price < 100000 :
    return "적음"
  elif price < 200000:
    return "보통"
  elif price < 300000:
    return "많음"
  else :
    return "아주 많음" 

df['찾으신금액'].map(price_distinct)

In [ ]:
# map, apply, applymap
# map -> 컬럼(시리즈) 대상 함수 적용
# applymap -> 데이터프레임 전체를 대상으로 함수 적용
# apply -> 컬럼, 또는 로우를 직접 선택해서 함수 적용
def add_won(price) :
  return str(price) + '원'

df[['찾으신금액', '맡기신금액', '거래후 잔액']].applymap(add_won)

# apply -> 
# 1. 컬럼을 원하는대로 선택해서 연산 일괄 적용

def sum_cols(col) :
  s = 0
  for i in col :
    s += i
  
  return s

# 각 컬럼의 합계
df[['찾으신금액', '맡기신금액']].apply(sum_cols, axis=0) # axis=0 컬럼이 넘어감


# 2. 로우를 원하는대로 선택해서 연산 일괄 적용

df[['찾으신금액', '거래후 잔액']].apply(sum_cols, axis=1)

In [ ]:
def print_item(item) :
  print(item)
  print("===================================")

# axis = 0 (로우), axis = 1 (컬럼)

#df[['찾으신금액', '맡기신금액', '거래후 잔액']].apply(print_item, axis=0)
df[['찾으신금액', '맡기신금액', '거래후 잔액']].apply(print_item, axis=1)

In [ ]:
df

In [74]:
def print_bill(row) :
  return f"{row['거래일시']}에 {row['기재내용']}를 하기 위해 {row['찾으신금액']}을 사용했고 {row['거래후 잔액']}의 잔액이 남았습니다."

df.apply(print_bill, axis=1)

0    2022.03.12 03:37에 nan를 하기 위해 9570을 사용했고 26213의...
1    2022.03.11 03:26에 01011112222SKT를 하기 위해 117910...
2    2022.03.10 18:23에 김밥이 좋아를 하기 위해 4500을 사용했고 153...
3    2022.03.10 16:05에 스타벅스를 하기 위해 2000을 사용했고 15819...
4    2022.03.10 10:42에 몸짱피트니스를 하기 위해 238000을 사용했고 1...
5    2022.03.10 10:40에 친구를 하기 위해 0을 사용했고 398193의 잔액...
6    2022.03.10 00:59에 이커머스를 하기 위해 15540을 사용했고 1981...
7    2022.03.09 18:49에 커피집를 하기 위해 2000을 사용했고 213733...
8    2022.03.09 18:05에 가족를 하기 위해 0을 사용했고 215733의 잔액...
9    2022.03.09 16:52에 피자집를 하기 위해 9800을 사용했고 15733의...
dtype: object