<a href="https://colab.research.google.com/github/chacha86/pythonai/blob/main/23_merge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

order = pd.read_csv('/content/order.csv')
order

In [ ]:
prod = pd.read_csv('/content/product.csv')

prod

prod.loc[prod['id'] == 1]

In [20]:
user = pd.read_csv('/content/user.csv')
user.loc[user['id'] == 1]

# 데이터 프레임이 따로 떨어져 있으면 정보를 확인하는데 번거로움. 필요한 정보들을 하나로 합칠
# 필요가 있음. merge를 사용하면 정확한 조건에 맞게 행을 붙일 수 있음.

   id userId userPw userName addr
0   1  user1  pass1      손흥민   런던

In [23]:
# 주문정보와 회원 정보를 merge

ou = pd.merge(order, user, left_on='userNo', right_on='id')

In [26]:
# 불필요한 컬럼 삭제(이미 userNo로 같은 데이터가 존재함)
ou = ou.drop('id_y', axis=1)

In [ ]:
# ou에다가 상품 정보 붙이기

rst = pd.merge(ou, prod, left_on='productNo', right_on='id').drop('id', axis=1)

In [ ]:
order.loc[7]
rst.loc[7]

In [40]:
# 새로운 유저 홍길동 추가
user.loc[6] = [7, 'user7', 'pass7', '홍길동', '경기']

In [43]:
7 in order['userNo'].unique()

False

In [ ]:
# outer => merge 조건에 해당하지 않는 데이터들(짝이 없는 데이터들)

# 오른쪽 outer 를 결과에 포함시키기
# 주문한 적이 없는 회원 정보라도 결과에 포함시키기
pd.merge(order, user, left_on='userNo', right_on='id', how='right')


# 왼쪽 outer 를 결과에 포함시키기
# 탈퇴한 회원 정보로 회원을 잡히지 않더라도 주문 정보는 나오도록 포함시키기
pd.merge(order, user, left_on='userNo', right_on='id', how='outer')