<a href="https://colab.research.google.com/github/chacha86/pythonai/blob/main/6~9_%EB%8D%B0%EC%9D%B4%ED%84%B0_%EC%84%A0%ED%83%9D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd

df = pd.read_excel('/content/거래내역조회.xlsx', skiprows=3)

In [ ]:
# 6.1 시리즈(컬럼) 선택
df['찾으신금액']
df['찾으신금액'][4]

# 6.2 시리즈 데이터 슬라이싱
df['찾으신금액'][0:5]
df['찾으신금액'][4:7]
df['찾으신금액'][0:6:2]

# 6.3 여러 컬럼 선택하기
df[['찾으신금액', '맡기신금액']][0:2]

In [22]:
# 7. 데이터 선택 -> loc, iloc
# 7.1 loc - 이름으로 접근

## no컬럼을 index로 사용.
df.index = df['No.']
df.drop('No.', axis=1, inplace=True)

In [ ]:
# 한행, 한열
df.loc[1]['찾으신금액']
df.loc[1, '찾으신금액']

# 슬라이싱
df.loc[1:5, '찾으신금액' : '거래후 잔액']

# fancy 인덱싱
df.loc[[1,3,4], ['거래일시', '거래후 잔액']]

# 행 전체
df.loc[:, ['거래일시', '거래후 잔액']]

# 열 전체
df.loc[[1,3,4], :]

In [ ]:
df

In [ ]:
# 8. iloc - 순번(index)를 이용한 접근
# 한행, 한열
df.iloc[0]
df.iloc[0:5]

df.iloc[0, 3]

# 슬라이싱
df.iloc[0:5, 3:6]

# fancy 인덱싱
df.iloc[[0,2,3], [3, 5]]

# 행 전체
df.iloc[:, [1, 5]]

# 열 전체
df.iloc[[0,2,3], :]

In [61]:
# 9. 논리값 인덱싱
df2 = df[:5]

# loc 이용
df2.loc[[1,3,5]]

# 논리값 인덱싱
df2.loc[[True, False, True, False, True]]

idx = df2['찾으신금액'] > 100000
df2.loc[idx]
df2.loc[df2['찾으신금액'] > 100000]

,거래일시,적요,기재내용,찾으신금액,맡기신금액,거래후 잔액,취급점,메모
No.,,,,,,,,
2,2022.03.11 03:26,통신요금,01011112222SKT,117910,0,35783,유성금융센터,NaN
5,2022.03.10 10:42,체크우리,몸짱피트니스,238000,0,160193,영업추진부(카드),NaN