<a href="https://colab.research.google.com/github/chacha86/pythonai/blob/main/%EB%8D%B0%EC%9D%B4%ED%84%B0_%EC%84%A0%ED%83%9D_%EB%AC%B8%EC%A0%9C_%ED%92%80%EC%9D%B4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 1. students파일을 읽어서 데이터 프레임으로 만든 후 아래를 해결해주세요.
import pandas as pd

df = pd.read_excel('/content/students.xlsx')
df

In [ ]:
# 2. 국어가 80점 이상인 학생의 이름과 생년월일
df.loc[df['국어'] >= 80, ['이름', '생년월일']]

In [ ]:
# 3. 수학이 80점 미만인 학생의 영어와 국어 점수
df.loc[df['수학'] < 80, ['이름', '영어', '국어']]

In [ ]:
# 4. 국어와 수학이 90점 이상인 학생의 이름, 수학, 국어 점수
# df2 = df.loc[df['국어'] >= 90, ['이름', '수학', '국어']]
# df.shape
# df2[df2['수학'] >= 90]

df.loc[(df['수학'] >= 90) & (df['국어'] >= 90), ['이름', '수학', '국어']]

In [ ]:
# 5. 모든 과목이 60점 미만인 학생의 번호, 이름, 생년월일
df.loc[(df['수학'] < 70) & (df['국어'] < 70) & (df['영어'] < 70), ['번호', '이름', '생년월일']]

In [ ]:
# 6. 대전 지역 학생들의 이름, 국어, 영어, 수학 점수

df[df['지역명'] == '대전']