<a href="https://colab.research.google.com/github/chacha86/pythonai/blob/main/%EB%AC%B8%EC%A0%9C5_%ED%92%80%EC%9D%B4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df = pd.read_excel('/content/students.xlsx')
df

In [ ]:
# 문제 5. 학생 성적데이터를 사용하여 풀어주세요.

# 1. 각 지역별 국, 영, 수 평균

# 2. 가장 평균 성적이 좋은 도시는?

# 3. 생년월일에서 월별로 학생들의 수를 구해주세요.

# 4. 각 지역별로 평균이 80점 넘는 학생의 수

# 5. 각 지역별 평균 점수가 80점 미만인 지역은?

# 6. 각 지역에서 평균 점수대별 학생수 현황(90점대, 80점대, 70점대, 60점대 등)

# 7. 지역별 학생의 평균성적 top3

In [ ]:
# 1 
df[['지역명','국어','영어', '수학']].groupby('지역명').mean()
df.groupby('지역명').mean()[['국어', '영어', '수학']]

In [ ]:
# 2 -> 서울
df['평균'] = df[['국어','영어', '수학']].mean(axis=1)
df.groupby('지역명').mean()['평균'].sort_values(ascending=False).head(1)

In [ ]:
import numpy as np
# 3 
df['월'] = df['생년월일'].astype('str').str[5:7]

# NaN(결측치)는 카운팅 하지 않는다.
df.groupby('월').count()

df.loc[0, '지역명'] = np.nan

df.groupby('월').count() # 결측치 고려 O
df.groupby('월').size() # 결측치 고려 X

In [ ]:
# 4
df.loc[df['평균'] >= 80].groupby('지역명').size()

In [ ]:
# 5
df2 = df.groupby('지역명').mean()[['평균']]
df2[df.groupby('지역명').mean()['평균'] >= 80]


#df2.loc[df.groupby('지역명').mean()[['평균']] >= 80]
#.loc[df.groupby('지역명').mean()[['평균']] >= 80]
df2

In [ ]:
df['점수대'] = df['평균'] // 10 * 10
df.groupby(['지역명', '점수대']).size()

In [71]:
# 7
df.loc[0, '지역명'] = '서울'

In [ ]:
df.sort_values('평균', ascending=False).groupby('지역명').head(3).sort_values(['지역명', '평균'], ascending=[True, False])