<a href="https://colab.research.google.com/github/chacha86/pythonai/blob/main/%EB%AC%B8%EC%A0%9C7_%ED%92%80%EC%9D%B4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import pandas as pd

In [ ]:

# 학생 점수 정보
st_score = pd.read_excel('/content/students_scores.xlsx')
st_score
     

st_info1 = pd.read_csv('/content/students_info1.csv')
st_info1
     

st_info2 = pd.read_csv('/content/students_info2.csv')
st_info2

In [27]:
st_info2 = st_info2.rename(columns={'Loc' : '지역', 'Sex' : '성별'})

# 컬럼명을 수정해서 동일한 컬럼구조로 만들어준다.

info = pd.concat([st_info1, st_info2])

info['지역'].unique()

info['지역'].str.lower().unique()

city_list_kor = ['대전', '광주', '울산', '서울', '부산', '부산', '대구', '인천']
city_list_eng = ['daejon', 'kwangju', 'ulsan',  'seoul', 'busan', 'pusan', 'daeku', 'incheon']

info['지역'] = info['지역'].str.lower().replace(city_list_eng, city_list_kor)
info['성별'] = info['성별'].replace(['F', 'M'],['여자', '남자'])

info['생년월일'] = info['생년월일'].str.replace('년', '-').str.replace('월', '-').str.replace('일', '')

info = info.reset_index(drop=True)

st_score['평균'] = st_score[['국어', '영어', '수학']].mean(axis=1)

rst = pd.concat([st_score, info[['지역', '성별', '생년월일']]], axis=1)

In [ ]:
cour = pd.read_csv('/content/sel_course.csv')
cour['과목명'].unique()

cour.sort_values('학번')

In [ ]:

# merge 연습문제
# ====================================================================================================================================================
# 문제1 - 각 선택 과목별 학생 수
cour.groupby(['과목번호', '과목명']).size()

# 문제2 - 선택 과목을 3개 이상 듣는 학생의 번호와 이름
tmp = pd.merge(rst, cour, left_on='번호', right_on='학번').groupby(['번호', '이름']) \
.count()[['학번']].rename(columns={'학번' : '과목수'}) \

tmp.loc[tmp['과목수'] >= 3]


# 문제3 - 선택 과목을 하나도 듣지 않는 학생의 번호와 이름
tmp2 = pd.merge(rst, cour, left_on='번호', right_on='학번', how='left').groupby(['번호', '이름']).count()[['학번']]
tmp2.loc[tmp2['학번'] == 0]


# 문제4 - 각 지역별 평균 선택과목 수
pd.merge(rst, cour, left_on='번호', right_on='학번', how='left') \
  .groupby(['번호', '지역']).count()[['과목번호']] \
  .groupby('지역').mean().rename(columns={'과목번호' : '과목수'})


# 문제5 - 각 지역의 탑들이 선택한 선택과목
tmp3 = pd.merge(rst, cour, left_on='번호', right_on='학번', how='left') \
  .sort_values('평균', ascending=False).groupby('지역').head(1) [['번호', '이름', '지역']]

pd.merge(tmp3, cour, left_on='번호', right_on='학번', how='left')[['번호', '이름', '지역', '과목명']] \
  .sort_values('번호')