<a href="https://colab.research.google.com/github/chacha86/pythonai/blob/main/%EB%AC%B8%EC%A0%9C_6_%ED%92%80%EC%9D%B4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

df = pd.read_excel('/content/students.xlsx')

In [ ]:


# 아래 문제들을 map, apply, applymap을 이용해서 풀어주세요.




# 1.'번호'에 번 붙이고 1은 001, 11은 011 처럼 세자리수 맞춰서 앞에 0 채우기
# 001번, 002번, 003번 ....

def add_bun(x) :
  str_x = str(x)

  rst = []

  for i in range(3 - len(str_x)) :
    rst.append('0')
  
  rst.append(str_x +'번')

  return ''.join(rst)

df['새번호'] = df['번호'].map(add_bun)

df

In [ ]:
# 1.생년월일에 년, 월, 일 붙이기
# 2050-01-01 => 2050년01월01일

def date_format(dt) :
  bits = dt.split('-')
  return f"{bits[0]}년{bits[1]}월{bits[2]}일"

df['생년월일'].astype('str').map(date_format)

In [ ]:
# 3. apply를 이용해 평균과 총점 구하기

def get_as(row) :
  sum = row['국어'] + row['영어'] + row['수학']
  avg = sum / 3
  row['평균'] = avg
  row['총점'] = sum
  
  return row
  #row[0] + row[1] + row[2]

rst = df[['국어', '영어', '수학']].apply(get_as, axis=1)
rst

In [ ]:

# 4. 학업성취도를 아래와 같이 나눠서 새로운 컬럼으로 만들기.(평균 기준)
## 90 이상이면 최우수
## 80 ~ 90 사이면 우수
## 70 ~ 80 사이면 보통
## 60 ~ 70 사이면 미달

def achieve(score) :
  if score >= 90 :
    return '최우수'
  elif score >= 80 :
    return '우수'
  elif score >= 70 :
    return '보통'
  else :
    return '미달' 

rst['학업성취도'] = rst['평균'].map(achieve)
rst

In [ ]:
# 5. apply를 이용해 min-max scaler 일괄 적용
# 어떤 데이터군을 0 ~ 1 사이의 값으로 범위를 한정시키는 방법이다. 크기 기준이 제각각 다른 데이터간 기준을 맞추어 관계를 명확히 표현하기 위해서 사용한다.

# min - max scale 공식은 아래와 같다.

# 어떤 데이터군(리스트, 시리즈)이 있을 때, 어떤 대상값을 0 ~ 1 사이의 값으로 만들려면

# (대상값 - 해당 데이터 군의 최소값) / (해당 데이터 군의 최대값 - 해당 데이터 군의 최소값) 

def min_max_scaler(col) :
  return (col - min(col)) / (max(col) - min(col))

rst.iloc[:,0:5].apply(min_max_scaler, axis=0)

In [ ]:
# 6. applymap을 이용해 모든 점수 뒤에 점 붙이기
# 90점, 91점 ...
def add_jum(x) :
  return str(x) + '점'

rst.iloc[:, 0:5].applymap(add_jum)